<section class="contactHead">
        <h1>Jade</h1>
</section>
      <section class="contact">
        <h2>Account</h2>
        <div class="contactInfo">
          <div>
            <p>Please log in</p>
            <form action="/admin/login" method="post" id="login">
              <div>
                <input
                  type="text"
                  placeholder="Enter your username"
                  id="name"
                  name="name"
                />
              </div>
              <small id="nameError" class="errorMessage"
                >The name or email  you entered is incorrect.</small
              >
              <div>
                <input
                  type="password"
                  placeholder="Enter your password"
                  id="password"
                  name="password"
                />
              </div>
              <small id="emailError" class="errorMessage"
                >The password you entered is incorrect.</small
              >
                <input type="submit" value="Log in" />
            </form>
          </div>
        </div>
      </section>