<main>
  <section class="artistHead">
    <h1>Amy Winehouse</h1>
  </section>
  <section class="biography">
    <h2>Her biography</h2>
    <div class="narration">
      <div class="bioText">
        <p>
          Amy Winehouse (1983–2011) was a British singer-songwriter renowned for
          her deeply emotive voice and her genre-blending music that drew from
          jazz, soul, and R&B.
        </p>
        <p>
          Born on September 14, 1983, in Southgate, London, she grew up in a
          family with strong musical influences, particularly her father's love
          for jazz. Winehouse achieved international fame with her second album,
          Back to Black (2006), which won her five Grammy Awards, including
          Record of the Year for the hit single "Rehab." The album,
          characterized by its raw lyrics and retro production, became one of
          the best-selling records of the 21st century and established her as
          one of the defining artists of her generation.
        </p>
        <p>
          Known for her distinctive style, which included her iconic beehive
          hairstyle and winged eyeliner, Winehouse's life was marked by both
          creative brilliance and personal struggles. Her battles with addiction
          and the intense media scrutiny surrounding her private life
          overshadowed much of her career.
        </p>
        <p>
          Amy Winehouse tragically passed away on July 23, 2011, at the age of
          27. Despite her untimely death, her impact on music endures, with her
          work continuing to inspire artists and fans worldwide. She remains an
          emblem of raw talent and vulnerability in the music industry.
        </p>
      </div>
    </div>
  </section>
  <section class="gallery">
    <h3>Gallery</h3>
    <div class="galleryImg">
      <img src="images/Amy Winehouse.jpg" alt="Amy Winehouse" loading="lazy" />
      <img
        src="images/Amy Winehouse 2.jpg"
        alt="Amy Winehouse"
        loading="lazy"
      />
      <img
        src="images/Amy Winehouse 5.webp"
        alt="Amy Winehouse"
        loading="lazy"
      />
      <img
        src="images/Amy Winehouse 6.webp"
        alt="Amy Winehouse"
        loading="lazy"
      />
      <img
        src="images/Amy Winehouse 8.jpg"
        alt="Amy Winehouse"
        loading="lazy"
      />
      <img
        src="images/Amy Winehouse 4.webp"
        alt="Amy Winehouse"
        loading="lazy"
      />
      <img
        src="images/Amy Winehouse 14.jpg"
        alt="Amy Winehouse"
        loading="lazy"
      />
      <img
        src="images/Amy Winehouse 10.webp"
        alt="Amy Winehouse"
        loading="lazy"
      />
    </div>
  </section>
</main>