<main>
  <section class="CartTicket">
    <h1>Your cart</h1>
    <table class="Cart">
      <thead>
        <tr>
          <th>Ticket</th>
        </tr>
      </thead>
      <tbody id="Ticket">
      </tbody>
    </table>
    <div>
      <h3>Total: $<span id="totalTicket"></span><button
          class="buy"
        >Buy</button></h3>
    </div>
  </section>
</main>