<main>
  <section class="head">
    <h1>Amy Winehouse</h1>
    <p>In loving memory</p>
  </section>
  <section class="introduction">
    <h2>Her story</h2>
    <div class="story">
      <div class="introImg">
        <img
          src="images/Amy Winehouse 7.jpg"
          alt="Amy Winehouse"
          loading="lazy"
        />
      </div>
      <div class="introText">
        <p>
          Amy Winehouse was a talented British singer-songwriter, known for her
          soulful voice and eclectic style that blended jazz, blues, and R&B.
          Hits like "Rehab" and "Back to Black" showcased her unique vocal style
          and candid lyrics, drawing from her personal struggles with addiction
          and relationships.
        </p>
        <a href="./Pages/Artist.html">Read her biography here</a>
      </div>
    </div>
  </section>
  <section class="discography">
    <h3>Her music</h3>
    <div class="albums">
      <div class="album1">
        <img
          src="images/Frank.png"
          alt="Amy Winehouse Frank cover"
          loading="lazy"
        />
        <a href="">Frank (2003)</a>
      </div>
      <div class="album2">
        <img
          src="images/Back to black.jfif"
          alt="Amy Winehouse Frank cover"
          loading="lazy"
        />
        <a href="">Back to Black (2006)</a>
      </div>
    </div>
  </section>
  <section class="store">
    <h3>Visit our Store</h3>
    <div class="storeImg">
      <img
        src="images/Merch.webp"
        alt="Amy Winehouse merchandise"
        loading="lazy"
      />
    </div>
    <p>Maximum quality merchandise available</p>
    <a href="./Pages/Store.html">Visit Store</a>
  </section>
</main>